<div class="properties-panel-container p-3" *ngIf="selectedObject">
    <h5 class="mb-3">Özellikler</h5>

    <div class="mb-3">
        <label for="fillColor" class="form-label">Dolgu Rengi</label>
        <input type="color" class="form-control form-control-color" id="fillColor"
            [value]="selectedObject.fill || '#000000'" (input)="changeProperty($event, 'fill')">
    </div>

    <div *ngIf="isTextObject(selectedObject)">
        <hr>
        <h6 class="mb-3">Metin Özellikleri</h6>

        <div class="mb-3">
            <label for="fontSize" class="form-label">Font Boyutu</label>
            <input type="number" class="form-control" id="fontSize" #fontSizeInput
                (input)="changeNumericProperty($event, 'fontSize')">
        </div>
    </div>
</div>