<div class="layer-manager-container p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Katmanlar</h5>
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addLayerModal">
            <i class="bi bi-plus-lg"></i>
        </button>



    </div>

    <ul class="list-group">
        <li *ngFor="let layer of layers$ | async" (click)="setactivateLayer(layer.id)"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            [class.active]="layer.id === (activeLayerId$ | async)">

            {{ layer.name }}

            <button class="btn btn-light btn-sm p-1" (click)="toggleVisibility(layer.id, $event)">
                <i class="bi" [class.bi-eye-fill]="layer.isVisible" [class.bi-eye-slash-fill]="!layer.isVisible"></i>
            </button>
        </li>
    </ul>
</div>

<!-- Yeni Katman Modal -->
<div class="modal fade" #addLayerModal id="addLayerModal" tabindex="-1" aria-labelledby="addLayerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLayerModalLabel">Yeni Katman Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="layerName" class="form-label">Katman Adı</label>
                        <input type="text" class="form-control" id="layerName" #layerNameInput>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="saveNewLayer()">Kaydet</button>
            </div>
        </div>
    </div>
</div>