<!-- <div class="toolbar-container">
    <h2>Araç Çubuğu</h2>
    <input type="file" #imageUploader style="display: none" (change)="onImageUpload($event)" accept="image/*" name=""
        id="">
    <button class="btn btn-light" (click)="imageUploader.click()">Resim Yükle</button>
    <button class="btn btn-light" (click)="addRectangle()">Dikdörtgen Çiz</button>
</div> -->


<nav class="navbar navbar-light bg-white p-2">
    <input type="file" #imageUploader style="display: none" (change)="onImageUpload($event)" accept="image/*" />
    <button class="btn btn-light me-3" (click)="imageUploader.click()" title="Resim Yükle">
        <i class="bi bi-upload"></i> Resim Yükle
    </button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" title="Dikdörtgen Çiz" (click)="addRectangle()"
            [class.active]="activeTool === 'rect'">
            <i class="bi bi-square"></i>
        </button>
        <button type="button" class="btn btn-outline-primary" title="Daire Çiz" (click)="addCircle()"
            [class.active]="activeTool === 'circle'">
            <i class="bi bi-circle"></i>
        </button>
        <button type="button" class="btn btn-outline-primary" title="Çokgen Çiz" (click)="startPolygon()"
            [class.active]="activeTool === 'polygon'">
            <i class="bi bi-pentagon"></i>
        </button>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary" title="Metin Ekle" (click)="addText()"
                [class.active]="activeTool === 'text'">
                <i class="bi bi-fonts"></i>
            </button>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary" title="Geri Al" (click)="undo()"
            [disabled]="!(historyService.undoStatus | async)">
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" title="Yinele" (click)="redo()"
            [disabled]="!(historyService.redoStatus | async)">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
    <div class="flex-grow-1"></div>
    <button class="btn btn-info" (click)="completeTask()">
        <i class="bi bi-check-circle-fill me-2"></i>Görevi Tamamla
    </button>
    <button class="btn btn-success" (click)="save()">
        <i class="bi bi-save-fill me-2"></i>Kaydet
    </button>
</nav>